body {
    background-color: whitesmoke;
    color: #121427;
    font-family: 'Arial', Arial, Helvetica, sans-serif, monospace;
}

div {
    background-color: whitesmoke;
    border-style: solid;
    border-width: 2px;
    
    margin-top: 24px;

    padding-left: 10px;
}

img {
    height: auto;
    width: 20%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li {
    float: left;
    border-right: #0d0a14 2px solid;
    background-color: rgb(93, 47, 145);
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
}
  

li a:hover {
    background-color: #121427;
    font-weight: bold;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    justify-content: center;
    margin-right: 100px;
    padding-right: 10px;
    border-style: none;
}

.projectlist {
    display: flex;
    border-style: none;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.prj_pic {
    height: auto;
    width: 50%;
}

.navbar {
    background-color: #121427;
}